// button style
input[type='button'],
button,
a.button {
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  line-height: 1;
  padding: 8px 10px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  text-decoration: none;
  color: #111111;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  background-color: #f8f8f8;
  &:hover {
    color: inherit;
    background-color: #f0f0f0;
  }
  &:focus,
  &:active {
    color: inherit;
    box-shadow: 0 0 0 0.1rem rgba(38, 143, 255, 0.404);
  }
}
